@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-arrow {
  position: relative;
  animation: scroll-arrow 3s linear infinite;
}

@keyframes scroll-arrow {
  0% {
    top: 0;
  }

  50% {
    top: 30px;
  }

  100% {
    top: 0;
  }
}

.img_upload::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  color: #F89A20;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
}